trigger:
  branches:
    include:
      - main
      - feature/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

stages:
- stage: Build
  displayName: Build & Unit Tests
  jobs:
  - job: BuildAndUnitTest
    displayName: Build and run unit tests
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.x'
    - script: dotnet restore
      displayName: Restore packages
    - script: dotnet build --no-restore -c $(buildConfiguration)
      displayName: Build solution
    - script: dotnet test --no-build -c $(buildConfiguration) --filter TestCategory!=Integration
      displayName: Run Unit Tests

- stage: Integration
  displayName: Integration Tests
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: IntegrationTests
    displayName: Run integration tests with Testcontainers
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.x'
    - script: dotnet restore
      displayName: Restore packages
    - script: dotnet build --no-restore -c $(buildConfiguration)
      displayName: Build solution
    - script: dotnet test --no-build -c $(buildConfiguration) --filter TestCategory=Integration
      displayName: Run Integration Tests
