name: Deploy API

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  deploy-api:
    runs-on: ubuntu-latest

    steps:
      - name: Download API Release Asset
        uses: robinraju/release-downloader@v1
        with:
          repository: ${{ github.repository }}
          tag: ${{ github.ref_name }}
          fileName: "bagile-api.zip"

      - name: Unzip package
        run: unzip bagile-api.zip -d bagile-api

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy API to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: bagile-api
          package: bagile-api
